@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.header {
    height: 70px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 3px 8px 12px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 3px 8px 12px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 3px 8px 12px -1px rgba(0, 0, 0, 0.12);
}

.header > img {
    width: 80px;
    height: 25px;
    margin-left: 30px;
}

.main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.main > img {
    align-self: center;
    width: 80%;
    max-width: 700px;
    margin: 25px 0 30px 0;
}

.main > p,
.main h1 {
    margin-left: 8%;
}

.main > h1 {
    margin-bottom: 15px;
    font-weight: 600;
}

.main > p {
    font-weight: 300;
    line-height: 120%;
    width: 65%;
}

.gray {
    color: #918e9b;
}

.bold {
    font-weight: 700;
}

.card {
    font-size: 12px;
    margin: 50px 0 30px 5%;
    position: relative;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--stats > * {
    margin-right: 5px;
}

.card--star {
    width: 16px;
}

.card--photo {
    width: 175px;
}

.card--title {
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
